* {
    padding: 0;
    margin: 0;
    font-family: 'Righteous', cursive;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    
}

#container {
    height: auto;
    width: auto;
    background-color: #160133;
    background-image: linear-gradient(225deg, #160133 0%, #784BA0 50%, #2B86C5 100%);
    border-radius: 94px 17px 95px 19px;
    padding: 30px;
    box-shadow: 7px 15px 26px 1px rgba(0,0,0,0.75);

}

#startingPage {0
    height: 220px;   width: 400px;
}

#startingPage h2,
#winner h2 {
    font-size: 50px;
    color: #cdcfdbe8;
}

#startingPage #line {
    height: 1px;
    width: 100%;
    background: #c3cfdb;
    margin: 20px 0;
}

#startingPage h4 {
    font-size: 25px;
    color: #b9b9c5;
}

#startingPage #button {
    height: auto;
    width: 100%;
    margin: 30px 0;
    display: flex;
    flex-direction: row;
}

#button button {
    height: 55px;
    width: 180px;
    cursor: pointer;
    background: #29cde0;
    border: none;
    outline: none;
    color: #2b2d47;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    transform: scale(1);
    box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
    transition: 0.5s;
}

#button button:first-child {
    margin-right: 40px;
}

#startingPage #button button:hover,
#winner #button button:hover {
    transform: scale(0.90);
}

#winner {
    display: none;
}

#winner #button {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

#winner #button button {
    margin-top: 20px;
}

#mainPage {
    height: 550px;
    width: 350px;
    padding: 20px;
    position: relative;
    display: none;
}

#mainPage #headerBtns {
    height: 60px;
    width: 310px;
    border-radius: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
}

#mainPage #headerBtns button {
    height: 60px;
    width: 160px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.60);
}

#mainPage #headerBtns #O_Turn {
    left: 160px;
    z-index: 3;
}

#showChange {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 160px;
    border-radius: 50px;
    background: #29cde0;
    z-index: 1;
    transition: 0.2s;
}

#gameBoard {
    height: 400px;
    width: 330px;
    position: absolute;
    top: 150px;
    left: 10px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 15px;
}

.boxes {
    height: 100px;
    width: 100px;
    box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
    display: grid;
    place-items: center;
    cursor: pointer;
}

.boxes i {
    font-size: 60px;
    color: #29cde0;
}